apiVersion: v1
kind: Secret
metadata:
  name: kk-payments-secrets
type: Opaque
data:
  # Add base64 encoded strings here at runtime
  DB_PASSWORD: "" # placeholder
  STRIPE_API_KEY: "" # placeholder
  JWT_SECRET: "" # placeholder
